@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Playfair+Display+SC:700');

.title-font {
  font-family: 'Playfair Display SC' serif;
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ecf0f1;
}

header {
  background-color: #9b59b6;
  color: #EEE;
}

.post .card-header {
  background-color: #34495e;
  color: #EEE;
}

